@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --somnum-dark-purple: #1e1f8e;
  --somnum-light-purple: #8b8aeb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Somnum themed scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--somnum-light-purple);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--somnum-dark-purple);
}
